*{
    margin:0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}



.navbar-container{
    display: flex;
    justify-content: space-around;
    padding: 3rem;
}


.list-item{
    list-style: none;
    padding: 1rem;
}

.list-item:nth-child(n+2){
    color: gray;
}

.list{
    display: flex;
    margin-right: 27rem;
}
.banner-container{
    position: absolute
}
.banner-container  img {
    height: 35rem;
    width: 45rem;
    margin-left: 100%;
}

.button-group button.nav-button {
    height: 2.9rem;
    width: 6rem;
    border-radius: 10px;
    border: none;
    font-weight: 400;
    color: white;
    background-color: #5737d6;
    padding: 12px 19px;
    width: 8rem;
}

button.nav-button.btn{
    height: 4rem;
    width: 11rem;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #5737d6;
    position: absolute;
    margin-top: 26rem;
    margin-left: 5rem;
    margin-left: 5rem;
}
.description{
    position: absolute;
    margin-top: 17rem;
    padding: 1rem;
    margin-left: 4rem;
    margin-right: 54rem;
    color: gray;
    width: 43rem;
}
h1.heading-text {
    position: absolute;
    margin-top: 3rem;
    font-size: 4rem;
    padding-left: 4rem;    
    width: 51rem;
}

h1.heading-text span{
        color: blue;
}
